<?xml version='1.0' encoding='utf-8'?>
<widget id="co.drunken.valhalla" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Valhalla: Fallen Heroes</name>
    <description>
        codename Valhalla
    </description>
    <author email="support@drunken.co">
        Drunken Co.
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="orientation" value="landscape" />
    <feature name="Google Universal Analytics Plugin">
        <param name="id" value="com.danielcwilson.plugins.googleanalytics" />
        <param name="url" value="https://github.com/danwilson/google-analytics-plugin.git" />
    </feature>
    <feature name="Google Play Services for Android">
        <param name="id" value="com.google.playservices" />
    </feature>
    <feature name="Insomnia (prevent screen sleep)">
        <param name="id" value="nl.x-services.plugins.insomnia" />
        <param name="url" value="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    </feature>
    <feature name="InAppBrowser">
        <param name="id" value="org.apache.cordova.inappbrowser" />
    </feature>
    <feature name="Chrome Apps Common Utils">
        <param name="id" value="org.chromium.common" />
    </feature>
    <feature name="Google Open Source iOS Framework Plugin">
        <param name="id" value="org.chromium.frameworks.googleopensource" />
    </feature>
    <feature name="Google Plus iOS Framework Plugin">
        <param name="id" value="org.chromium.frameworks.googleplus" />
    </feature>
    <feature name="Chrome Apps Identity API">
        <param name="id" value="org.chromium.identity" />
    </feature>
</widget>
