<?xml version='1.0' encoding='utf-8'?>
<widget id="co.drunken.valhalla" version="0.8.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Valhalla: Fallen Heroes</name>
    <description>
        codename Valhalla
    </description>
    <author email="support@drunken.co">
        Drunken Co.
    </author>
    <content src="mainmenu.html" />
    <icon src="icon.png" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="orientation" value="landscape" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreen" value="screen" />
    <splash src="splash.png" />
    <plugin name="nl.x-services.plugins.insomnia" spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-chrome-apps-identity" spec="^1.4.5" />
    <plugin name="cordova-plugin-google-analytics" spec="^0.8.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
</widget>
