[Service]
ExecStart=/usr/bin/node /srv/www/Valhalla.git/ai/ai.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ValhallaAI
User=nobody
Group=nobody
Environment=NODE_ENV=production

[Unit]
After=valhalla.service

[Install]
WantedBy=default.target